@font-face {
    font-family: 'Ubuntu Sans Bold';
    src: url('../fonts/Ubuntu_Sans/UbuntuSans-Bold.ttf');

}


.main-frame {
    -fx-background-color: #acacac;
}

.auth-pane {
    -fx-background-color: #253C59;
}

/* MENUBAR */
.nav-bar {
    -fx-pref-height: 32px;
    -fx-font-family: "Ubuntu Sans Bold";
    -fx-font-size: 12px;
    -fx-background-color: #253C59;
}

.menu-bar > .container > .menu-button > .label {
    -fx-pref-height: 32px;
    -fx-padding: 0 0 2px 0;
    -fx-text-fill: #ececec;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #BF8D30;
}

/* Main Container */

.main-container-title {
    -fx-font-size: 18px;
}

.formulaire,
.emprunteur-detail {
    -fx-background-color: #c8c8c8;
}

.formulaire .text-input {
    -fx-border-color: #253C59;
    -fx-border-width: 0 0 1px 0;
}

