
@font-face {
    font-family: 'BioRhyme Bold';
    src: url('../fonts/BioRhyme/BioRhyme-Bold.ttf');

}

@font-face {
    font-family: 'Ubuntu Sans Condensed Medium';
    src: url('../fonts/Ubuntu_Sans/UbuntuSans_Condensed-Medium.ttf');

}
.menu-bar > .container > .menu-button > .label,
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label,
.menu-item .label,
.menu-item .label,
.menu-item .label,
.table-view,
.table-view .column-header .label,
.label {
    -fx-text-fill: #f1f1f1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 1, 0.0, 1, 1);
}
.table-view .table-cell {
    -fx-text-fill: #253C59;
}

.bgColor {
    -fx-background-color: #deff50;
}

.main-frame {
    -fx-background-color: #2D4B73;

}

/* MENUBAR */
.nav-bar {
    -fx-font-family: "Ubuntu ExtraBold";
    -fx-font-size: 12px;
    -fx-font-weight: 800;
    -fx-background-color: #253C59;
}

.menu-bar > .container > .menu-button .label {
    -fx-min-height: 24px;
    -fx-padding: 0 0 1px 0;
    -fx-font-weight: bold;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #BF8D30;
}

/* MENUBAR SUBMENU */
.context-menu {
    -fx-translate-y: 8px;
    -fx-min-width: 100px;
    -fx-padding: 0;
    -fx-border-color: #BF8D30;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: #253C59;
}

.menu-item {
    -fx-padding: 4px 16px;
}

.menu-item:hover,
.menu-item:focused,
.menu-item:showing {
    -fx-background-color: #BF8D30;
}

/* TABLEVIEW */
.table-view {
    -fx-background-color: #253C59;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 8, 0, 2, 4);
}

.table-view .column-header {
    -fx-padding: 0;
    -fx-border-width: 1px;
    -fx-border-color: transparent rgb(91, 108, 129) rgba(255, 255, 255, 0.5) transparent;
    -fx-background-color: transparent;
}

.table-view .column-header.sous-categorie-media {
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-padding: 0 8px 4px 8px;
    -fx-min-height: 28px;
    -fx-pref-height: 28px;
    -fx-font-family: "BioRhyme";
    -fx-text-fill: rgba(255, 255, 255, 0.60);
    -fx-font-weight: 800;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 1, 0.0, 1, 1);
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
}

.table-row-cell {
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 255, 255, 0.50);
}
.table-row-cell:odd {
    -fx-background-color: rgba(255, 255, 255, 0.55);
}

.table-column {
    -fx-alignment: CENTER;
}

.titre-media.table-column {
    -fx-padding: 0 0 0 8px;
    -fx-alignment: CENTER_LEFT;
}

.table-view .table-cell {
    -fx-font-family: "Ubuntu Sans Condensed Medium";
    -fx-font-size: 14px;
    -fx-border-color: transparent rgb(91, 108, 129) transparent transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
/** Supprime le fond blanc entre l'entête du tableau et le haut de la scroll bar*/
.table-view .column-header-background .filler {
     -fx-background-color: transparent;
     -fx-padding: 0;
 }
.table-view > .virtual-flow > .scroll-bar > .increment-button:hover,
.table-view > .virtual-flow > .scroll-bar > .decrement-button:hover {
    -fx-background-color: rgb(91, 108, 129);
}
.table-view > .virtual-flow > .scroll-bar:vertical .thumb,
.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: rgb(91, 108, 129);
}

.main-form {
    -fx-padding: 8px 16px 16px 16px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: rgb(72, 95, 126);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 8, 0, 2, 4);
}

.label {
    -fx-pref-height: 25px;
    -fx-padding: 8px 0;
    -fx-font-family: "BioRhyme Bold";
}

.text-input {
    -fx-min-height: 32px;
    -fx-pref-height: 32px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #aaa;
    -fx-background-color: rgb(91, 108, 129);
}